<!DOCTYPE html>
<html lang="en">
<body>
  <form id="mainForm" method="post" action="http://plnkr.co/edit/?p=preview">
    <input type="hidden" name="description" value="Example usage of the typeahead widget from https://ng-bootstrap.github.io">
    <input type="hidden" name="tags[0]" value="Angular">
    <input type="hidden" name="tags[1]" value="Bootstrap">
    <input type="hidden" name="tags[2]" value="ng-bootstrap">
    <input type="hidden" name="tags[3]" value="Typeahead">  
    <input type="hidden" name="files[index.html]" value="&#x3C;!DOCTYPE html&#x3E;
&#x3C;html&#x3E;

  &#x3C;head&#x3E;
  &#x3C;base href=&#x22;.&#x22; /&#x3E;
    &#x3C;title&#x3E;ng-bootstrap demo&#x3C;/title&#x3E;
    &#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css&#x22; /&#x3E;
    &#x3C;script src=&#x22;https://unpkg.com/zone.js@0.8.7/dist/zone.js&#x22;&#x3E;&#x3C;/script&#x3E;
    &#x3C;script src=&#x22;https://unpkg.com/zone.js@0.8.7/dist/long-stack-trace-zone.js&#x22;&#x3E;&#x3C;/script&#x3E;
    &#x3C;script src=&#x22;https://unpkg.com/reflect-metadata@^0.1.8/Reflect.js&#x22;&#x3E;&#x3C;/script&#x3E;
    &#x3C;script src=&#x22;https://unpkg.com/systemjs@^0.19.40/dist/system.js&#x22;&#x3E;&#x3C;/script&#x3E;
    &#x3C;script src=&#x22;config.js&#x22;&#x3E;&#x3C;/script&#x3E;
    &#x3C;script&#x3E;
    System.import(&#x27;app&#x27;).catch(console.error.bind(console));
&#x3C;/script&#x3E;
  &#x3C;/head&#x3E;

  &#x3C;body&#x3E;
  &#x3C;my-app&#x3E;loading...&#x3C;/my-app&#x3E;
  &#x3C;/body&#x3E;

&#x3C;/html&#x3E;">
    <input type="hidden" name="files[config.js]" value="var ver = {
    ng: &#x27;4.0.3&#x27;
  };
  
  System.config({
  //use typescript for compilation
  transpiler: &#x27;typescript&#x27;,
  //typescript compiler options
  typescriptOptions: {
    emitDecoratorMetadata: true
  },
  paths: {
    &#x27;npm:&#x27;: &#x27;https://unpkg.com/&#x27;
  },
  map: {

    &#x27;app&#x27;: &#x27;./src&#x27;,

    &#x27;@angular/core&#x27;: &#x27;npm:@angular/core@&#x27; + ver.ng + &#x27;/bundles/core.umd.js&#x27;,
    &#x27;@angular/common&#x27;: &#x27;npm:@angular/common@&#x27; + ver.ng + &#x27;/bundles/common.umd.js&#x27;,
    &#x27;@angular/compiler&#x27;: &#x27;npm:@angular/compiler@&#x27; + ver.ng + &#x27;/bundles/compiler.umd.js&#x27;,
    &#x27;@angular/platform-browser&#x27;: &#x27;npm:@angular/platform-browser@&#x27; + ver.ng + &#x27;/bundles/platform-browser.umd.js&#x27;,
    &#x27;@angular/platform-browser-dynamic&#x27;: &#x27;npm:@angular/platform-browser-dynamic@&#x27; + ver.ng + &#x27;/bundles/platform-browser-dynamic.umd.js&#x27;,
    &#x27;@angular/http&#x27;: &#x27;npm:@angular/http@&#x27; + ver.ng + &#x27;/bundles/http.umd.js&#x27;,
    &#x27;@angular/router&#x27;: &#x27;npm:@angular/router@&#x27; + ver.ng + &#x27;/bundles/router.umd.js&#x27;,
    &#x27;@angular/forms&#x27;: &#x27;npm:@angular/forms@&#x27; + ver.ng + &#x27;/bundles/forms.umd.js&#x27;,

    &#x27;rxjs&#x27;: &#x27;npm:rxjs@^5.0.1&#x27;,
    &#x27;typescript&#x27;: &#x27;npm:typescript@2.1.5/lib/typescript.js&#x27;,

    &#x27;@ng-bootstrap/ng-bootstrap&#x27;: &#x27;npm:@ng-bootstrap/ng-bootstrap@1.0.0-alpha.25/bundles/ng-bootstrap.js&#x27;
  },
  packages: {
    app: {
      main: &#x27;./main.ts&#x27;,
      defaultExtension: &#x27;ts&#x27;
    },
    rxjs: {
      defaultExtension: &#x27;js&#x27;
    }
  }
});
">
    <input type="hidden" name="files[src/main.ts]" value="import {platformBrowserDynamic} from &#x27;@angular/platform-browser-dynamic&#x27;;
import {AppModule} from &#x27;./app&#x27;;

platformBrowserDynamic().bootstrapModule(AppModule);
">
    <input type="hidden" name="files[src/app.ts]" value="
import { Component, NgModule } from &#x27;@angular/core&#x27;;
import { BrowserModule } from &#x27;@angular/platform-browser&#x27;;
import { FormsModule, ReactiveFormsModule } from &#x27;@angular/forms&#x27;;
import { JsonpModule } from &#x27;@angular/http&#x27;;
import { NgbModule } from &#x27;@ng-bootstrap/ng-bootstrap&#x27;;
import { NgbdTypeaheadHttp } from &#x27;./typeahead-http&#x27;;

@Component({
  selector: &#x27;my-app&#x27;,
  template: &#x60;
    &#x3C;div class=&#x22;container-fluid&#x22;&#x3E;
    
    &#x3C;hr&#x3E;
    &#x3C;p&#x3E;
      This is a demo plnkr forked from the &#x3C;strong&#x3E;ng-bootstrap&#x3C;/strong&#x3E; project: Angular powered Bootstrap.
      Visit &#x3C;a href=&#x22;https://ng-bootstrap.github.io/&#x22; target=&#x22;_blank&#x22;&#x3E;https://ng-bootstrap.github.io&#x3C;/a&#x3E; for more widgets and demos.
    &#x3C;/p&#x3E;
    &#x3C;hr&#x3E;

    &#x3C;ngbd-typeahead-http&#x3E;&#x3C;/ngbd-typeahead-http&#x3E;
  &#x3C;/div&#x3E;
  &#x60;
})
export class App {
}   

@NgModule({
  imports: [BrowserModule, FormsModule, ReactiveFormsModule, JsonpModule, NgbModule.forRoot()], 
  declarations: [App, NgbdTypeaheadHttp]
  bootstrap: [App]
}) 
export class AppModule {}
">
    <input type="hidden" name="files[src/typeahead-http.ts]" value="import {Component, Injectable} from &#x27;@angular/core&#x27;;
import {Jsonp, URLSearchParams} from &#x27;@angular/http&#x27;;
import {Observable} from &#x27;rxjs/Observable&#x27;;
import &#x27;rxjs/add/observable/of&#x27;;
import &#x27;rxjs/add/operator/catch&#x27;;
import &#x27;rxjs/add/operator/debounceTime&#x27;;
import &#x27;rxjs/add/operator/distinctUntilChanged&#x27;;
import &#x27;rxjs/add/operator/do&#x27;;
import &#x27;rxjs/add/operator/map&#x27;;
import &#x27;rxjs/add/operator/switchMap&#x27;;

@Injectable()
export class WikipediaService {
  constructor(private _jsonp: Jsonp) {}

  search(term: string) {
    if (term === &#x27;&#x27;) {
      return Observable.of([]);
    }

    let wikiUrl = &#x27;https://en.wikipedia.org/w/api.php&#x27;;
    let params = new URLSearchParams();
    params.set(&#x27;search&#x27;, term);
    params.set(&#x27;action&#x27;, &#x27;opensearch&#x27;);
    params.set(&#x27;format&#x27;, &#x27;json&#x27;);
    params.set(&#x27;callback&#x27;, &#x27;JSONP_CALLBACK&#x27;);

    return this._jsonp
      .get(wikiUrl, {search: params})
      .map(response =&#x3E; &#x3C;string[]&#x3E; response.json()[1]);
  }
}

@Component({
  selector: &#x27;ngbd-typeahead-http&#x27;,
  templateUrl: &#x27;src/typeahead-http.html&#x27;,
  providers: [WikipediaService],
  styles: [&#x60;.form-control { width: 300px; display: inline; }&#x60;]
})
export class NgbdTypeaheadHttp {
  model: any;
  searching = false;
  searchFailed = false;

  constructor(private _service: WikipediaService) {}

  search = (text$: Observable&#x3C;string&#x3E;) =&#x3E;
    text$
      .debounceTime(300)
      .distinctUntilChanged()
      .do(() =&#x3E; this.searching = true)
      .switchMap(term =&#x3E;
        this._service.search(term)
            .do(() =&#x3E; this.searchFailed = false)
            .catch(() =&#x3E; {
              this.searchFailed = true;
              return Observable.of([]);
            }))
      .do(() =&#x3E; this.searching = false);
}
">
    <input type="hidden" name="files[src/typeahead-http.html]" value="A typeahead example that gets values from the &#x3C;code&#x3E;WikipediaService&#x3C;/code&#x3E;
&#x3C;ul&#x3E;
  &#x3C;li&#x3E;remote data retrieval&#x3C;/li&#x3E;
  &#x3C;li&#x3E;&#x3C;code&#x3E;debounceTime&#x3C;/code&#x3E; operator&#x3C;/li&#x3E;
  &#x3C;li&#x3E;&#x3C;code&#x3E;do&#x3C;/code&#x3E; operator&#x3C;/li&#x3E;
  &#x3C;li&#x3E;&#x3C;code&#x3E;distinctUntilChanged&#x3C;/code&#x3E; operator&#x3C;/li&#x3E;
  &#x3C;li&#x3E;&#x3C;code&#x3E;switchMap&#x3C;/code&#x3E; operator&#x3C;/li&#x3E;
  &#x3C;li&#x3E;&#x3C;code&#x3E;catch&#x3C;/code&#x3E; operator to display an error message in case of connectivity issue&#x3C;/li&#x3E;
&#x3C;/ul&#x3E;

&#x3C;div class=&#x22;form-group&#x22; [class.has-danger]=&#x22;searchFailed&#x22;&#x3E;
  &#x3C;label for=&#x22;typeahead-http&#x22;&#x3E;Search for a wiki page:&#x3C;/label&#x3E;
  &#x3C;input id=&#x22;typeahead-http&#x22; type=&#x22;text&#x22; class=&#x22;form-control&#x22; [(ngModel)]=&#x22;model&#x22; [ngbTypeahead]=&#x22;search&#x22; placeholder=&#x22;Wikipedia search&#x22; /&#x3E;
  &#x3C;span *ngIf=&#x22;searching&#x22;&#x3E;searching...&#x3C;/span&#x3E;
  &#x3C;div class=&#x22;form-control-feedback&#x22; *ngIf=&#x22;searchFailed&#x22;&#x3E;Sorry, suggestions could not be loaded.&#x3C;/div&#x3E;
&#x3C;/div&#x3E;

&#x3C;hr&#x3E;
&#x3C;pre&#x3E;Model: {{ model | json }}&#x3C;/pre&#x3E;
">
  </form>
  <script>document.getElementById("mainForm").submit();</script>
</body>
</html>